<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap" rel="stylesheet">
    <title>404 Not Found</title>
    <style>
        body{
            font-family: "Red Hat Display", Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #24252A;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h3{
            text-align: center;
            color: #ffffff;
        }
        a{
            text-decoration: none;
            color: #ffffff;
        }
        button{
            width: 20%;
            padding: 10px;
            background-color: #404040;
            border: 1px solid black;
            border-radius: 6px;
        }
        button:hover{
            transition: 0.3s ease-in-out;
            background-color: #24252A;
            color: #ffffff;
            border-color: #ffffff;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div>
        <img src="/images/error.png" alt="">
        <h3>Sorry! No Data Found..</h3>
        <button title="Return Home Page"><a href="/">Go Home</a></button>
    </div>
</body>
</html>